<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">VAT System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/custmoer">Custmoer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order">Order</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/VAT">VAT</a>
        </li>
      </ul>
        <a class="btn btn-outline-secondary mx-1" href="/login">Login</a>
        <a class="btn btn-outline-primary mx-1" href="/singup">Sign up</a>
    </div>
  </nav>