{% extends 'base.html' %}


{% block head %}
<title>VAT System</title>
{% endblock %}


{% block body %}
<h4 class="mb-3"> All orders from {{Customer.name}} :</h4>

{% if Customer.orders is not defined %}
<br>
<div class="alert alert-warning" role="alert">
  <h5 class="mx-auto">Unfortunately, {{Customer.name}} does not have any orders</h5>
</div>
{% endif %}

<div>

  {% for order in Customer.orders %}
    <h6>Order number # {{ order.id }}</h6>
    <p>Order by # {{ order.order_data }}</p>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>

      <tbody>
        {% for item in order.items %}
          <tr>
            <td>
              {{ item.item_name }}
            </td>
            <td>
              {{ item.item_quantity }}
            </td>
            <td>
              {{ item.item_amount}}
            </td>
          </tr>  
        {% endfor %}
      </tbody> 
    </table>

      <br>
  {% endfor %}

</div>

{% endblock %}
