{% extends 'base.html' %}


{% block head %}
<title>Sign Up to TechGarden 🌳</title>
{% endblock %}


{% block body %}
<h1>Sign Up</h1>
<br><br>

{% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">

    {{ form.hidden_tag() }}

    {{render_field(form.name, type="text", class="form-control")}}
    
    {{render_field(form.email, type="email", class="form-control", placeholder="Example@Email.com")}}
      
    {{render_field(form.password, class_="form-control")}}
      
    {{render_field(form.confirm, class_="form-control")}}

    {{render_field(form.recaptcha, class_="form-control")}}
      
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>

  </form>
{% endblock %}
